<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Thank you <%= fullName %></h1>
    <h2>Current Location <%= ip %>
    </form>
  </body>
</html>
